@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// media query manager
/*
media query
 0  - 600px Phone
600 - 900px Tablet portrait
900 -1200px Tablet landscape
1200-1800px is where My normal styles apply
1800-*      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desk

ORDERï¼š Base + typography > general layout + grid > page layout > components

1em = 16px
 */

@mixin respond ($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content } // < 600px
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content } // < 900px
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content } // < 1200px
  }

  @if $breakpoint == big-desk {
    @media (min-width: 112.5em) { @content } // > 1800px
  }
}
