$color-primary: #fff;
$color-secondary: #000;
$color-tertiary: rgba(#000, .6);
$color-quartus: rgba(#fff, .6);


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
